<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>slectChain</title>
	<link rel="stylesheet" type="text/css" href="./css/selectChain.css">
</head>
<body>
    <form name="form1">
    	<select name="select1">
    		<option value="">请选择</option>
    	</select>
    	<select name="select2" value=''>
    		<option>请选择</option>
    	</select>
    	<select name="select3" value=''><option>请选择</option></select>
    </form>
    <script type="text/javascript" src="./js/selectChain.js"></script>
</body>
</html>