<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>scrollBar</title>
<link rel="stylesheet" type="text/css" href="./css/scrollBar.css">
</head>
<body>
  <div  id="wrapper">
     <div class="scrollBar"></div>
     <div id="modules">
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaccccc</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaaaa</div>
       <div>aaaad</div>
     </div>
  </div>
</div>
</body>
    <script type="text/javascript" src="./js/scrollBar.js"></script>
</html>