<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>nav</title>
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>
<body>
    <ul id="nav">
    	<li>
    		<div>首页</div>
    		<ul>
    			<li>2222</li>
    			<li>2223</li>
    			<li>2224</li>
    		</ul>
    	</li>
    	<li>
    		<div>介绍</div>
    		<ul>
    			<li>11111</li>
    			<li>11112</li>
    			<li>11112</li>    
    		</ul>
    	</li>
    	<li><div>关于</div></li>
    	<li><div>more</div></li>
    </ul>
</body>
<script type="text/javascript" src="./js/nav.js"></script>
</html>