html,
body {
	padding: 0;
	margin: 0;
}

#player {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 450px;
	transform: translate(-50%, -50%);
	user-select: none;
}

#player #video {
	width: 100%;
	height: 100%;
}
#slider-box{
	position: relative;
	width:100%;
	height: 5px;
	background: rgba(95, 88, 88, 0.2);
	cursor: pointer;
}
#slider-progress{
    width: 0;
    height: 4px;
	background: #B82525;
	transition: .2s;
}
#slider-thumb{
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin: -7px 0 0 -7px;
	border-radius: 50%;
	border: 4px solid #fff;
	box-sizing: border-box;
	background: #B82525;
}
#slider-runway{
	position: absolute;
	top: -6px;
	width: 16px;
	height: 16px;
	transform: translateX(-2px);
	cursor: pointer;
	z-index: 2;
	transition: .2s;
}
#other-control{
	position: relative;
	bottom: 0;
}
#controlPlay{
	position: absolute;
	top: 6px;
}
#time-data{
    position: absolute;
    top: 6px;
    font-size: 0.8em;
    left: 1.5em;
}
#doubble-speed{
	position: absolute;
	top: 5px;
	left: 7em;
	font-size: 1.1em;
}
#sound{
	font-size: 1.3em;
}
#sound-box{
	position: absolute;
	top: 8px;
    left: 2em;
	width: 100px;
	height: 5px;
	background: rgba(95, 88, 88, 0.2);
	cursor: pointer;
}
#sound-runway{
	position: absolute;
	top: -6px;
	width: 16px;
	height: 16px;
	transform: translateX(-2px);
	cursor: pointer;
	z-index: 2;
	transition: .2s;
}
#sound-progress{
    width: 30%;
    height: 4px;
	background: #B82525;
	transition: .2s;
}
#sound-thumb{
    position: absolute;
	top: 50%;
	left: 30%;
	width: 14px;
	height: 14px;
	margin: -7px 0 0 -7px;
	border-radius: 50%;
	border: 4px solid #fff;
	box-sizing: border-box;
	background: #B82525;
}
#sound-control{
	width: 100px;
	position: absolute;
	top: 6px;
	right: 200px;
}
#scale-video{
	position: absolute;
    right: 10px;
    bottom: -27px;
}
.full-player{
	top: 10vh !important;
	left: 10vw !important;
	width: 80vw !important;
	height: 72vh !important;
	transform: translate(0,0) !important;
}